flask==3.0.3
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-bcrypt==1.0.1
flask-wtf==1.2.2
flask-cors

Flask-Migrate==4.0.7
alembic==1.13.1

sqlalchemy==2.0.30
psycopg2-binary>=2.9.10
gunicorn==23.0.0
python-dotenv==1.0.1

# Librerías para Reportes y Excel
pandas>=2.2.2
openpyxl==3.1.2
xlsxwriter==3.2.0
reportlab==4.2.2
fpdf
Pillow==10.4.0
python-barcode==0.16.1

# Dependencias internas
Werkzeug==3.0.3
Jinja2==3.1.3
itsdangerous==2.2.0
click==8.1.7
MarkupSafe==2.1.5
greenlet==3.0.3
pytz==2024.1
blinker==1.9.0
WTForms==3.1.2
bcrypt==4.1.2
numpy>=2.1.0
typing_extensions==4.10.0
packaging==24.1
